<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Fas-Sistems</title>
    <style type="text/css">
    H1.madera {text-align: center}


	</style>
	</head>

	<body>
	<input type="image" src="http://instructivo.url.ph/lib/tpl/dokuwiki/images/logo.png"  width="220" height="180">
	<h1>Listado Orlando 2019</h1>




<form  action="/personas" method="post">

<div>
<label for="usuario" >Quien eres? </label>
<input type="text" id= "usuario"  name="usuario" >
</div>

<div>
<label for="local">Donde has comprado?</label>
<input type="text" id="local" name="local">
</div>

<div>
<label for="producto">Que producto compraste?</label>
<input type="text" id="producto" name="producto">
</div>


<div>
<label for="Cantidad">Cuantas unidades compras?</label>
<input type="text" id="Cantidad" name="Cantidad" >
</div>

<div>
<label for="Importe_Dolar">Cuantos U$S gastaste?</label>
<input type="text" id="Importe_Dolar" name="Importe_Dolar" >
</div>

<div>
<label for="TC">Decime el tipo de cambio?</label>
<input type="text" id="TC" name="TC" >
</div>

<button>
<input type="submit" value="submit">
</button>

<div>
<input type="image" src="https://i.pinimg.com/564x/9b/dc/21/9bdc21a3701340ab2fe07ad98311547b.jpg"  width="350" height="200">
</div>



</form>
</html>

